#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  gap: 20px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 10px;
}

.butt {
  min-width: 130px;
  min-height: 130px;
  aspect-ratio: 1/1;
}
